body {
  background-color:rgb(179, 217, 255);
}
h1 {
  text-align:center;
  background-color:rgb(230, 243, 255);
  padding:10px;
  border:1px solid black;
  width:800px;
  margin-left:auto;
  margin-right:auto;
}
#explination {
  background-color:white;
  padding:10px;
  width:800px;
  margin-left:auto;
  margin-right:auto;
  font-size:110%;
  font-family: serif
}
#button {
  padding:5px;
  background-color:rgb(179, 217, 255);
}
form {
  background-color:rgb(230, 243, 255);
  padding:10px;
  width:800px;
  margin-left:auto;
  margin-right:auto;
  border:1px solid black;
}